<div class="column">
    <div class="social_media_icon">
        <div class="list_of_icons">
            <div class="screen">
                <img class="social_icon menu" src="../../assets/menu.png">
            </div>
            <hr>
            <div  class="screen">
                <img class="social_icon ping" src="../../assets/whatsapp.png">
            </div>
            <div class="screen">
                <img class="social_icon ping" src="../../assets/gmail.png">
            </div>
            <div class="screen">
                <img class="social_icon ping" src="../../assets/skype.png">
            </div>
            <div class="screen">
                <img class="social_icon ping" src="../../assets/slack.png">
            </div>
            <div class="screen">
                <img class="social_icon ping" src="../../assets/plus-symbol-in-a-rounded-black-square.png">
            </div>

        </div>

    </div>
    <div class="inbox">
        <div class="inbox_titles">
            <div class="inbox_title">
                Inbox
            </div>
            <div>
                <img class="inbox_Image" src="../../assets/create-group-button.png">
            </div>
        </div>
        <hr>
        <div class="Inbox_Names">
            <div class="Messages">
                <div class="Inbox_Messages">All</div>
                <div class="Inbox_Numbers">89</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Messages</div>
                <div class="Inbox_Numbers">21</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages Unread">Unread</div>
                <div class="Inbox_Numbers">4</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Important</div>
                <div class="Inbox_Numbers">1</div>
            </div>
            <hr>
            <div class="Messages">
                <div class="Inbox_Messages">Teams</div>
                <div class="Inbox_Numbers">2</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Groups</div>
                <div class="Inbox_Numbers">4</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Channels</div>
                <div class="Inbox_Numbers">2</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Locations</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Media</div>
                <div class="Inbox_Numbers">88</div>
            </div>
            <hr>
            <div class="Messages">
                <div class="Inbox_Messages">Help</div>
            </div>
            <div class="Messages">
                <div class="Inbox_Messages">Setting</div>
            </div>

        </div>
    </div>
    <div class="Text_Members">
        <form>
            <input type="text" name="search" placeholder="Search..">
        </form>
        <hr>
        <div class="Clients">
            <div class="Client_Image">
                <div class="hover_point" *ngFor="let i of ClientImage">
                    <img class="border_radius" src="{{i.name}}">
                </div>
            </div>
            <div class="Client_Text">
                <div>
                    <div class="Client_Names">
                        Michell
                    </div>
                    <div class="Text">
                        Can you send me the Client processo...
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                        Matt
                    </div>
                    <div class="Text">
                        Can you look after my carebears later?
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                            Justin Engel
                    </div>
                    <div class="Text new">
                            Tell Matt I'm going be late for work
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                            Emaile
                    </div>
                    <div class="Text new">
                            Hey man If you have a moment can you..
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                            Grant
                    </div>
                    <div class="Text new">
                            Metting in 45min
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                            Eilze van Staden
                    </div>
                    <div class="Text new">
                            Busy typing....
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                            Luke Engel
                    </div>
                    <div class="Text new">
                            Do you know where Justin Is?
                    </div>
                </div>
                <div>
                    <div class="Client_Names">
                            Suraj kuppul
                    </div>
                    <div class="Text new">
                            Can please covert the python script...
                    </div>
                </div>
            </div>
            <div class="Client_menu">
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        2min
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        10min
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        1min
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        28min
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        10min
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        live
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        20min
                    </div>
            
                </div>
                <div class="More_Option">
                    <div>
                        <img src="../../assets/more.png">
                    </div>
                    <div class="seconds_alive">
                        12min
                    </div>
            
                </div>
            
            
            </div>
        
        </div>
    </div>
    <div class="Text_Area">
        <div class="Text_Area_Heading">
            <div>
                <p class="remove_margin"><span class="Name_bold">Eilze van Staden</span> is typing...</p>
            </div>
            <div>
                <img class="social_add add" src="../../assets/rate-star-button.png">
            </div>
            <div>
                <img class="social_add" src="../../assets/call-answer.png">
            </div>
            <div>
                <img class="social_add" src="../../assets/video-camera.png">
            </div>

        </div>
        <hr>
        <div class="Texting_Area">
            <div class="Chat1">
                <div>
                    <img class="img" src="../../assets/Client8.jpeg">
                </div>
                <div class="white_box">
                    <p>Jo What's a nice chilled movie I can go watch with my mom?</p>
            
                </div>
            </div>
            <div class="Chat2">
                <div class="Green_box">
                    <p>Well there's a few showing at the moment. DO you mind
                        a romance drama type of movie?
                    </p>
            
                </div>
                <div>
                    <img class="img" src="../../assets/Client9.jpg">
                </div>
            </div>
            <div class="Chat1">
                <div>
                    <img class="img" src="../../assets/Client8.jpeg">
                </div>
                <div class="white_box">
                    <p>Yeah that's should be fine</p>
            
                </div>
            </div>
            <div class="Chat2">
                <div class="Green_box">
                    <p>Okay great. You should check out 50 Shades don't 
                        watch the trailer. It will spoil the movie for you. It
                        has some adorable moments
                    </p>
            
                </div>
                <div>
                    <img class="img" src="../../assets/Client9.jpg">
                </div>
            </div>
        </div>
        <div class="text_box">
            <div class="Image_direction">
                <div><img class="text_box_image" src="../../assets/add-file.png"></div>
                <div><input type="text" placeholder="Send your message..."></div>
                <div><img class="text_box_image image3" src="../../assets/send.png"></div>
                
            </div> 

        </div>
         
    </div>
    <div class="Personal_Information">
        <div class="Personal_Detail_Title">
            <div>
                <img class="Notification_Image"src="../../assets/notification.png">
            </div>
            <div class="Div_Box">
                <div class="Notifier">
                    
                      <mat-form-field class="no-line">
                        <mat-select placeholder="Eilze van Staden">
                          <mat-option (click)="myFunction()" value="1">Your Profile</mat-option>
                          <mat-option value="2">Help</mat-option>
                          <mat-option routerLink="/login" value="3">Logout</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                </div>
                
            </div>
        </div>
        <hr>
        <div class="Gmail_And_More_Option">
            <div>
                <img clas="Gmail_Image" src="../../assets/gmail(1).png">
            </div>
            <div>
                <img class="more_Image" src="../../assets/more.png">
            </div>

        </div>
        <div class="Client_Image_Display">
            <div>
                <img  class="reduse_size" src="../../assets/Client8.jpeg">
                
            </div>
        </div>
        <div class="Sender_Name">
            <h1>Matt THompson</h1>
        </div>
        <div class="Sender_place">
            Cape Town,US
        </div>
        <hr>
        <button (click)="myFunction()" mat-raised-button class="dropbtn" >Addition Info <i class="material-icons">account_box</i></button>
        <div id="myDropdown" class="Sender_Detail">
                
            <div class="One">
                <div class="Details">NickName:</div> <div class="bold">Triple T</div>
            </div>
            <div class="Two">
                <div class="Details">Tel:</div> <div class="bold">011 22 345 6789</div>
            </div>
            <div class="Three">
                <div class="Details">Gender</div> <div class="bold">Male</div>
            </div>
            <div class="Four">
                <div class="Details">Language:</div> <div class="bold">English</div>
            </div>
        </div>
        

    </div>


    
</div>